apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: template-golang-kubernetes
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: template-golang-kubernetes
  minReplicas: MIN_REPLICAS_VALUE
  maxReplicas: MAX_REPLICAS_VALUE
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
